.container {
    padding: 0.75rem 1rem 0;
}

@media (min-width: 768px) {
    .container {
        padding: 1.5rem 20% 0;
    }
}

@media (min-width: 992px) {
    .container {
        padding: 2.25rem 30% 0;
    }
}